<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate">
    <title>Reservetion | Kappari</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/menu.css" />
</head>
<body>
    
    <%- include('partials/header') %>

    <h1 class="header-title text-shadowed"><%= title %></h1>

    <div id="menu-cont">
        <% 
        console.log(`Data = ${data[0].title}`)
        let currentCategory = '';

        for (let i=0; i<data.length; i++) {
            if (data[i].cat_name !== currentCategory) {
                if (currentCategory !== "") { %>
                    </div>
                    <hr />
             <% } %>
                <h2><%= data[i].cat_name %></h2>
                    <div class="category">
             <% currentCategory = data[i].cat_name
            }%>
            <div class="card">
                <div class="imgcontainer"><img src="/menu/<%= data[i].title %>.jpg" alt="food"></div>
                <div class="info">
                    <h3><%= data[i].title %></h3>
                    <small><%= data[i].comment %></small>
                    <p class="price"><%= data[i].price %>&euro;</p>
                </div>
            </div>
      <%} %>
            </div>
            <hr />
    </div>


    <%- include('partials/map') %>

    <%- include('partials/footer') %>

    <script>
        let menu = document.querySelector('#menu');
        menu.style.borderBottom = '3px solid gold';
    </script>

</body>
</html>


<!-- τεμαχια 
ψητα σχαρας - ψητα σουβλας
μαγειρευτα σουπες μακαροναδες
Ουζα - τσιπουρα
Drinks 
Desserts
Ρετσινες - Κρασια -->
